import(XML)
import(ggplot2)
import(rgdal)
import(RCurl)
import(rrdf)
import(RColorBrewer)
import(plyr)
import(mapdata)
import(rgeos)
import(maps)


export(
  Atlas_i1_SpeciesByOcean,
  Atlas_i2_SpeciesByGear,
  Atlas_i3_SpeciesYearByGearMonth,
  Atlas_i4_SpeciesMonthByOcean,
  Atlas_i6_SpeciesMap,
  Atlas_i7_SpeciesMapRelativeCatches,
  Atlas_i8_SpeciesMapRelativeCatchesOtherSpecies,
  Atlas_i9_RelativeSizeFrequenciesBySchoolType
)