import(XML)
import(ggplot2)
import(rgdal)
import(RCurl)
#import(rrdf)
import(RColorBrewer)
import(plyr)
import(mapdata)
import(rgeos)
import(maps)
import(mapplots)
import(ncdf)
import(rgdal)
import(jsonlite)
import(sp)
import(fpc)


export(
  WFS2GMLFile,
  Atlas_i1_SpeciesByOcean,
  Atlas_i2_SpeciesByGear,
  Atlas_i3_SpeciesYearByGearMonth,
  Atlas_i4_SpeciesMonthByOcean,
  Atlas_i6_SpeciesMap,
  Atlas_i7_SpeciesMapRelativeCatches,
  Atlas_i8_SpeciesMapRelativeCatchesOtherSpecies,
  Atlas_i9_RelativeSizeFrequenciesBySchoolType,
  Atlas_i10_RelativeSizeFrequenciesByDecade,
  Atlas_i11_CatchesByCountry,
  enRichment,
  readData,
  evaluateAndRenameAttributesNames
)
